:root {
    --primary-color: rgb(62, 100, 255);
    --complete-color: #27aa80;
    --text-color: black;
    --disabled-color: #fad6d6;
    --background-color: white;
}

html {
    background:white;
    background: linear-gradient(90deg, rgb(14, 91, 214) 0%, rgb(147, 147, 218) 46%, rgb(64, 205, 233) 100%);
}

body {
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}

p {
    margin: 5px 0;
    overflow-wrap: break-word;
    text-align: left;
}
select {
    outline: none;
    height: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 15px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    z-index: 1;
    background-color: white;
}

.item:hover {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
    font-size: 16px;
}

.item-status {
    text-align: right;
}

.color-bar {
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.drop-wrapper {
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 5px;
}

.col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.col {
    min-height: 300px;
    max-width: 300px;
    width: 300px;
}

.highlight-region {
    background-color: rgb(96, 154, 177);
}

.page-header {
    background-color: rgb(82, 155, 240);
    padding: 20px;
    color: black;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    text-align: center;
    font-weight: 600;
    border-bottom: white;
    border-radius:0mm ;
}

